body{
  text-align: center;
}

section{
  margin: 10px;
  clear: both;
  overflow: auto;
}
nav{

  font-size: 20px;
}
ol {
    text-align: center;
    list-style:none;
    margin-top: 40px;
    margin-left: 15%;
    padding:0;
}
.title{
  margin-top: 20px;
  margin-left: 10px;
}
.nav-todo,.nav-doing,.nav-done{
 
  text-align: left;
  border:solid 2px gray;
  width: 25%;
  height: auto;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

.nav-state{
  list-style: none;
  height: 30px;
  padding: 10px;
  margin: 10px;
  background-color: black;
  color: white;
}


.nav-li {

    list-style: none;
    height: auto;
    padding: 10px;
    margin: 10px;
    background-color: skyblue;
    color: white;

}


.nav-done>.nav-li>.event{
  display: none;

}

#newregist{
  background-color: #49A78E;
  margin-right: 15%;
  height: 40px;
  color: white;
  float: right;
}
